*{
    margin: 0;
    padding: 0;
}


ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}


#section1 {
    background-image: url(araç/hongkong.jpg);
}

#section2 {
    background-image: url(araç/japan.jpg);
}

#section3 {
    background-image: url(araç/mountains.jpg);
}

h1{
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 48px;
    color:antiquewhite;
    margin: 0;
}